* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 80%;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
}

#header-h1 {
  color: #FFDD00
}

#nav-bar {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  padding-inline-start: 0;
}

nav ul li {
  font-size: 1.5rem;
  display: block;
}

nav a {
  text-decoration: none;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header-button {
  margin: 0.5rem;
  text-align: center;
}

.btn {
  font-size: 0.8rem;
  border: none;
  border-radius: 10px;
}

.header-button-left {
  background-color: #FFE24C;
}

.header-button-right {
  background-color: #45D8F0;
}